/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {

	src: url('../../fonts/8bit.ttf');

}

.root {

	-fx-background-color: black; /*#1E1E1E */

}

Label {

	-fx-font-family: '8bit';
	-fx-text-fill: green;

}

#titleLabel {
	-fx-font-size: 36px;
}


