/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

@font-face {

	src: url('../../fonts/8bit.ttf');

}

.root {

	-fx-background-color: black; /*#1E1E1E */

}

Label {

	-fx-font-family: '8bit';
	-fx-text-fill: #00FF7F; /* Color is Color.SPRINGGREEN - made to match the GOL block color.*/
	-fx-font-size: 20px;

}

CheckBox {

	-fx-font-family: '8bit';
	-fx-text-fill: #00FF7F; /* Color is Color.SPRINGGREEN - made to match the GOL block color.*/
}

#titleLabel {
	-fx-font-size: 40px;
}

#fieldLabel {
	-fx-font-size: 20px;
}

#messageLabel {
	-fx-font-size: 16px;
	-fx-text-fill: red;
}


